
.t-title {
	font-size: 3rem;
	font-weight: 300;
}

.t-title--small {
	font-size: 1.6rem;
	font-weight: 600;
}

.t-sub {
	font-size: 1.1rem;
	font-weight: 300;
}

.t-copy--small {
	font-size: 1.2rem;
}

.t-copy--table {
	font-size: 1.4rem;	
}