.p-teamdetail {

	&__title {
		@extend .t-title;
	}

	&__image {

	}

	&__table {
		width: 100%;

		tr {
			width: 100%;
			border-bottom: 1px solid $border; 		
		}

		td {
			padding: 5px 0;
			&:first-child {
				width: 130px;
			}
		}
	}

}
